# Scrape the details of most viewed videos on YouTube from Wikipedia.

In [41]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [42]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver.exe")

In [5]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2)

In [4]:
# Empty list for scraping data
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [5]:
# Extracting Rank Via X path
try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
except StaleElementReferenceException:
    Rank.append('NA')
    
# Extracting Name Via X path
try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementExceptionhElementException:
    Name.append('NA')
except StaleElementReferenceException:
    Name.append('NA')
    
# Extracting Artist Name Via Xpath
try:
    artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')

# Extracting Upload date Via Xpath
try:
    upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA') 

# Extracting Views via Xpath
try:
    views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')

In [6]:
# Dataframe for scrap data
Wiki_YT=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
print('\033[1m'+'Most Viewed Video on YouTube from Wikipedia :'+'\033[0m')
Wiki_YT

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.24,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.96,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.44,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.80,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.62,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.59,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.85,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.68,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.61,"February 27, 2018"
9,10.,"""Gangnam Style""[24]",Psy,4.53,"July 15, 2012"
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,4.51,"January 31, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.31,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,4.05,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.75,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.64,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.63,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.58,"October 22, 2015"
17,18.,"""Axel F""[36]",Crazy Frog,3.49,"June 16, 2009"
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,3.49,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,3.35,"June 25, 2018"
20,21.,"""Dark Horse""[39]",Katy Perry,3.34,"February 20, 2014"
21,22.,"""Faded""[40]",Alan Walker,3.33,"December 3, 2015"
22,23.,"""Girls Like You""[41]",Maroon 5,3.33,"May 31, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.29,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.26,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.25,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.24,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.23,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.20,"August 18, 2014"
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.14,"January 26, 2018"

# Q2 - Scrape the details team India’s international fixtures from bcci.tv.

In [6]:
url="https://www.bcci.tv/international/fixtures"
driver.get(url)

In [14]:
Team=[]
Date_Time =[]
Ground=[]
Test_ODI=[]
#scraping the team_name 
tm=driver.find_elements(By.XPATH,'//h5[@class="country-name ng-binding"]')
for i in tm:
    if i.text is None :
        Team.append("--") 
    else:
        Team.append(i.text)
print(len(Team),Team)

16 ['England Women', 'India Women', 'England Women', 'India Women', 'England Women', 'India Women', 'India', 'Australia', 'England Women', 'India Women', 'India', 'Australia', 'England Women', 'India Women', 'India', 'Australia']

In [12]:
#scraping the Date_Time 
DT=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in DT:
    if i.text is None :
        Date_Time.append("--") 
    else:
        Date_Time.append(i.text)
print(len(Date_Time),Date_Time)

8 ['13 SEP 2022', '15 SEP 2022', '18 SEP 2022', '20 SEP 2022', '21 SEP 2022', '23 SEP 2022', '24 SEP 2022', '25 SEP 2022']

In [16]:
#scraping the Ground 
G=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in G:
    if i.text is None :
        Ground.append("--") 
    else:
        Ground.append(i.text)
print(len(Ground),Ground)

8 ['2nd T20I - County Ground, Derby', '3rd T20I - County Ground, Bristol', '1st ODI - County Ground, Hove', '1st T20I - Punjab Cricket Association IS Bindra Stadium, Mohali', '2nd ODI - St Lawrence Ground, Canterbury', '2nd T20I - Vidarbha Cricket Association Stadium, Nagpur', "3rd ODI - Lord's Cricket Ground, London", '3rd T20I - Rajiv Gandhi International Stadium, Hyderabad']

In [18]:
#scraping the Test_ODI 
TO=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in TO:
    if i.text is None :
        Test_ODI.append("--") 
    else:
        Test_ODI.append(i.text)
print(len(Test_ODI),Test_ODI)

8 ['INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022', 'INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022', 'INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022', 'AUSTRALIA TOUR OF INDIA T20 SERIES 2022', 'INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022', 'AUSTRALIA TOUR OF INDIA T20 SERIES 2022', 'INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022', 'AUSTRALIA TOUR OF INDIA T20 SERIES 2022']

In [19]:
International_Fixtures=pd.DataFrame([])
International_Fixtures['Date_Time']=Date_Time
International_Fixtures['Series']=Test_ODI
International_Fixtures['Ground']=Ground
International_Fixtures

,Date_Time,Series,Ground
0,NaN,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"2nd T20I - County Ground, Derby"
1,NaN,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"3rd T20I - County Ground, Bristol"
2,NaN,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"1st ODI - County Ground, Hove"
3,NaN,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,1st T20I - Punjab Cricket Association IS Bindr...
4,NaN,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"2nd ODI - St Lawrence Ground, Canterbury"
5,NaN,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,2nd T20I - Vidarbha Cricket Association Stadiu...
6,NaN,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"3rd ODI - Lord's Cricket Ground, London"
7,NaN,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"3rd T20I - Rajiv Gandhi International Stadium,..."

# Q3Scrape the details of selenium exception from guru99.com.

In [3]:
url_3="https://www.guru99.com/exception-handling-selenium.html"

In [4]:
driver.get(url_3)

In [5]:
exception=[]
description =[]

In [26]:
#scraping the exception 
ex=driver.find_elements(By.XPATH,"/html/body/div[2]/section[3]/div/div[1]/main/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]")
for i in ex:
    if i.text is None :
        exception.append("--") 
    else:
        exception.append(i.text)
print(len(exception),exception)

0 []

# Q4Scrape the details of State-wise GDP of India from statisticstime.com.

In [27]:
url_4="http://statisticstimes.com/"
driver.get(url_4)
Rank=[]
State =[]
GDP=[]
GSDP_Current=[]
GSDP_Previous=[]
Share=[]

In [30]:
economy = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')       # Locating page foe top videos by xpath
economy.click()

In [31]:
ind = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')       # Locating page foe top videos by xpath
ind.click()

In [32]:
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')       # Locating page foe top videos by xpath
gdp.click()

In [34]:
#scraping the Rank 
r=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in r:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
print(len(Rank),Rank)

68 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '']

In [35]:
#scraping the State 
St=driver.find_elements(By.XPATH,"//td[@class='name']")
for i in St:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
print(len(State),State)

68 ['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands', 'India', 'Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Telangana', 'Andhra Pradesh', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Jharkhand', 'Chhattisgarh', 'Uttarakhand', 'Himachal Pradesh', 'Jammu & Kashmir', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Manipur', 'Sikkim', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands', 'India']

In [36]:
#scraping the GDP 
gdp=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp:
    if i.text is None :
        GDP.append("--") 
    else:
        GDP.append(i.text)
print(len(GDP),GDP)

33 ['399.921', '247.629', '240.726', '228.290', '226.806', '165.556', '143.179', '131.083', '130.791', '122.977', '118.733', '117.703', '111.519', '80.562', '79.957', '74.098', '47.982', '46.187', '45.145', '37.351', '23.690', '23.369', '11.115', '7.571', '6.397', '5.230', '5.086', '4.363', '4.233', '4.144', '3.737', '3.385', '-']

In [37]:
#scraping the Share 
shr=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]")
for i in shr:
    if i.text is None :
        Share.append("--") 
    else:
        Share.append(i.text)
print(len(Share),Share)

33 ['13.94%', '8.63%', '8.39%', '7.96%', '7.91%', '5.77%', '4.99%', '4.57%', '4.56%', '4.29%', '4.14%', '4.10%', '3.89%', '2.81%', '2.79%', '2.58%', '1.67%', '1.61%', '1.57%', '1.30%', '0.83%', '0.81%', '0.39%', '0.26%', '0.22%', '0.18%', '0.18%', '0.15%', '0.15%', '0.14%', '0.13%', '0.12%', '-']

In [38]:
#scraping the GSDP_Current 
shr=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
for i in shr:
    if i.text is None :
        GSDP_Current.append("--") 
    else:
        GSDP_Current.append(i.text)
print(len(GSDP_Current),GSDP_Current)

33 ['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127', '1,089,898', '942,586', '862,957', '861,031', '809,592', '781,653', '774,870', '734,163', '530,363', '526,376', '487,805', '315,881', '304,063', '297,204', '245,895', '155,956', '153,845', '73,170', '49,845', '42,114', '34,433', '33,481', '28,723', '27,870', '27,283', '24,603', '22,287', '-']

In [39]:
#scraping the GSDP_Previous 
shr=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[8]")
for i in shr:
    if i.text is None :
        GSDP_Previous.append("--") 
    else:
        GSDP_Previous.append(i.text)
print(len(GSDP_Previous),GSDP_Previous)

33 ['2,039,074', '1,215,307', '1,123,982', '1,186,379', '1,091,077', '739,525', '677,428', '621,301', '612,828', '522,009', '559,412', '590,569', '531,085', '375,651', '397,669', '376,877', '234,048', '231,182', '224,986', '193,273', '112,755', '117,851', '57,787', '36,963', '31,192', '23,013', '24,682', '18,722', '19,300', '17,647', '16,676', '16,478', '-']

In [40]:
State_GDP=pd.DataFrame([])
State_GDP['Rank']=Rank[:33]
State_GDP['State']=State[:33]
State_GDP['Share In GDP']=Share[:33]
State_GDP['GDP of State']=GDP[:33]
State_GDP['GSDP_Current']=GSDP_Current[:33]
State_GDP['GSDP_Previous']=GSDP_Previous[:33]
State_GDP

,Rank,State,Share In GDP,GDP of State,GSDP_Current,GSDP_Previous
0,1,Maharashtra,13.94%,399.921,"2,632,792","2,039,074"
1,2,Tamil Nadu,8.63%,247.629,"1,630,208","1,215,307"
2,3,Uttar Pradesh,8.39%,240.726,"1,584,764","1,123,982"
3,4,Gujarat,7.96%,228.290,"1,502,899","1,186,379"
4,5,Karnataka,7.91%,226.806,"1,493,127","1,091,077"
5,6,West Bengal,5.77%,165.556,"1,089,898","739,525"
6,7,Rajasthan,4.99%,143.179,"942,586","677,428"
7,8,Andhra Pradesh,4.57%,131.083,"862,957","621,301"
8,9,Telangana,4.56%,130.791,"861,031","612,828"
9,10,Madhya Pradesh,4.29%,122.977,"809,592","522,009"
10,11,Kerala,4.14%,118.733,"781,653","559,412"
11,12,Delhi,4.10%,117.703,"774,870","590,569"
12,13,Haryana,3.89%,111.519,"734,163","531,085"
13,14,Bihar,2.81%,80.562,"530,363","375,651"
14,15,Punjab,2.79%,79.957,"526,376","397,669"
15,16,Odisha,2.58%,74.098,"487,805","376,877"
16,17,Assam,1.67%,47.982,"315,881","234,048"
17,18,Chhattisgarh,1.61%,46.187,"304,063","231,182"
18,19,Jharkhand,1.57%,45.145,"297,204","224,986"
19,20,Uttarakhand,1.30%,37.351,"245,895","193,273"
20,21,Jammu & Kashmir,0.83%,23.690,"155,956","112,755"
21,22,Himachal Pradesh,0.81%,23.369,"153,845","117,851"
22,23,Goa,0.39%,11.115,"73,170","57,787"
23,24,Tripura,0.26%,7.571,"49,845","36,963"
24,25,Chandigarh,0.22%,6.397,"42,114","31,192"
25,26,Puducherry,0.18%,5.230,"34,433","23,013"
26,27,Meghalaya,0.18%,5.086,"33,481","24,682"
27,28,Sikkim,0.15%,4.363,"28,723","18,722"
28,29,Manipur,0.15%,4.233,"27,870","19,300"
29,30,Nagaland,0.14%,4.144,"27,283","17,647"
30,31,Arunachal Pradesh,0.13%,3.737,"24,603","16,676"
31,32,Mizoram,0.12%,3.385,"22,287","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q5 -

In [6]:
url_5="https://github.com/"
driver.get(url_5)
Repository_Name =[]
Language=[]
Muted_Link=[]

In [8]:
explore = driver.find_element(By.XPATH,'//a[@class="js-selected-navigation-item selected Header-link mt-md-n3 mb-md-n3 py-2 py-md-3 mr-0 mr-md-3 border-top border-md-top-0 border-white-fade"]')       # Locating page foe top videos by xpath
explore.click()

In [10]:
trending = driver.find_element(By.XPATH,'//a[@class="js-selected-navigation-item d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link"]')       # Locating page foe top videos by xpath
trending.click()

In [13]:
#scraping the Repositor_Name 
RN=driver.find_elements(By.XPATH,"//span[@class='text-normal']")
for i in RN:
    if i.text is None :
        Repository_Name.append("--") 
    else:
        Repository_Name.append(i.text)
print(len(Repository_Name),Repository_Name)

25 ['danielgindi /', 'surrealdb /', 'TheAlgorithms /', 'SerenityOS /', 'divamgupta /', 'karpathy /', 'EbookFoundation /', 'twitter /', 'n8n-io /', 'InterviewReady /', 'moby /', 'Alamofire /', 'AykutSarac /', 'pocketbase /', 'ascoders /', 'jellyfin /', 'apptension /', 'vasanthk /', 'rust-lang /', 'dotnet /', 'microsoft /', 'gothinkster /', 'SerenityOS /', 'jwasham /', 'joeyballentine /']

In [19]:
Description=[]
#scraping the Description 
des=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in des:
    if i.text is None :
        Description.append("--") 
    else:
        Description.append(i.text)
print(len(Description),Description)

25 ['Beautiful charts for iOS/tvOS/OSX! The Apple side of the crossplatform MPAndroidChart.', 'A scalable, distributed, collaborative, document-graph database, for the realtime web', 'All Algorithms implemented in Python', 'Ladybird web browser', 'Diffusion Bee is the easiest way to run Stable Diffusion locally on your M1 Mac. Comes with a one-click installer. No dependencies or technical knowledge needed.', 'Neural Networks: Zero to Hero', '📚 Freely available programming books', 'Static checks to aid with a healthy adoption of Compose', 'Free and source-available fair-code licensed workflow automation tool. Easily automate tasks across different services.', 'These are the best resources for System Design on the Internet', 'Moby Project - a collaborative project for the container ecosystem to assemble container-based systems', 'Elegant HTTP Networking in Swift', '🔮 Seamlessly visualize your JSON data instantly into graphs; paste, import or fetch!', 'Open Source realtime backend in 1 file', '前端精读周刊。帮你理解最前沿、实用的技术。', 'The Free Software Media System', 'An opinionated guide on how to become a professional Web/Mobile App Developer.', 'What happens behind the scenes when we type www.google.com in a browser?', 'Empowering everyone to build reliable and efficient software.', 'Home repository for .NET Core', 'Playwright is a framework for Web Testing and Automation. It allows testing Chromium, Firefox and WebKit with a single API.', '"The mother of all demo apps" — Exemplary fullstack Medium.com clone powered by React, Angular, Node, Django, and many more 🏅', 'The Serenity Operating System 🐞', 'A complete computer science study plan to become a software engineer.', 'A flowchart/node-based image processing GUI aimed at making chaining image processing tasks (especially upscaling done by neural networks) easy, intuitive, and customizable.']

In [20]:
#scraping the Language 
L=driver.find_elements(By.XPATH,"//span[@itemprop='programmingLanguage']")
for i in L:
    if i.text is None :
        Language.append("NAN") 
    else:
        Language.append(i.text)
print(len(Language),Language)

20 ['Swift', 'Rust', 'Python', 'C++', 'Jupyter Notebook', 'Jupyter Notebook', 'Kotlin', 'TypeScript', 'Go', 'Swift', 'TypeScript', 'Go', 'JavaScript', 'C#', 'Rust', 'PowerShell', 'TypeScript', 'Shell', 'C++', 'TypeScript']

In [27]:
Trending_Repository=pd.DataFrame([])
Trending_Repository['Name']=Repository_Name[:20]
Trending_Repository['Description']=Description[:20]
Trending_Repository['Language']=Language[:20]

In [28]:
Trending_Repository

,Name,Description,Language
0,danielgindi /,Beautiful charts for iOS/tvOS/OSX! The Apple s...,Swift
1,surrealdb /,"A scalable, distributed, collaborative, docume...",Rust
2,TheAlgorithms /,All Algorithms implemented in Python,Python
3,SerenityOS /,Ladybird web browser,C++
4,divamgupta /,Diffusion Bee is the easiest way to run Stable...,Jupyter Notebook
5,karpathy /,Neural Networks: Zero to Hero,Jupyter Notebook
6,EbookFoundation /,📚 Freely available programming books,Kotlin
7,twitter /,Static checks to aid with a healthy adoption o...,TypeScript
8,n8n-io /,Free and source-available fair-code licensed w...,Go
9,InterviewReady /,These are the best resources for System Design...,Swift
10,moby /,Moby Project - a collaborative project for the...,TypeScript
11,Alamofire /,Elegant HTTP Networking in Swift,Go
12,AykutSarac /,🔮 Seamlessly visualize your JSON data instantl...,JavaScript
13,pocketbase /,Open Source realtime backend in 1 file,C#
14,ascoders /,前端精读周刊。帮你理解最前沿、实用的技术。,Rust
15,jellyfin /,The Free Software Media System,PowerShell
16,apptension /,An opinionated guide on how to become a profes...,TypeScript
17,vasanthk /,What happens behind the scenes when we type ww...,Shell
18,rust-lang /,Empowering everyone to build reliable and effi...,C++
19,dotnet /,Home repository for .NET Core,TypeScript

# 6. Scrape the details of top 100 songs on billiboard.com.

In [29]:
url_6="https://www.billboard.com/"
driver.get(url_6)

In [18]:
Song_Name =[]
Singer=[]
rank=[]
Last_Week=[]
Weeks_on_board=[]

In [19]:
top100 = driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"]')       # Locating page foe top videos by xpath
top100.click()

In [20]:
#scraping the Rank 
rb=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in rb:
    if i.text is None :
        rank.append("--") 
    else:
        rank.append(i.text)
print(len(rank),rank)

100 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100']

In [21]:
#scraping the Song_Name 
son=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-padding-l-050 lrv-u-padding-l-1@mobile-max"]')
for i in son:
    if i.text is None :
        Song_Name.append("--") 
    else:
        Song_Name.append(i.text)
print(len(Song_Name),Song_Name)

99 ['Bad Habit\nSteve Lacy', 'Late Night Talking\nHarry Styles', 'Sunroof\nNicky Youre & dazy', 'About Damn Time\nLizzo', 'I Like You (A Happier Song)\nPost Malone Featuring Doja Cat', 'Super Freaky Girl\nNicki Minaj', "I Ain't Worried\nOneRepublic", 'Running Up That Hill (A Deal With God)\nKate Bush', 'You Proof\nMorgan Wallen', 'Wait For U\nFuture Featuring Drake & Tems', 'Me Porto Bonito\nBad Bunny & Chencho Corleone', 'Titi Me Pregunto\nBad Bunny', 'The Kind Of Love We Make\nLuke Combs', 'Break My Soul\nBeyonce', 'First Class\nJack Harlow', 'Wasted On You\nMorgan Wallen', 'Heat Waves\nGlass Animals', 'She Had Me At Heads Carolina\nCole Swindell', 'Vegas\nDoja Cat', 'Jimmy Cooks\nDrake Featuring 21 Savage', 'Stay\nThe Kid LAROI & Justin Bieber', 'Hold Me Closer\nElton John & Britney Spears', '5 Foot 9\nTyler Hubbard', 'Detox\nLil Baby', 'Glimpse Of Us\nJoji', 'Last Night Lonely\nJon Pardi', 'Moscow Mule\nBad Bunny', 'Big Energy\nLatto', 'Staying Alive\nDJ Khaled Featuring Drake & Lil Baby', 'Betty (Get Money)\nYung Gravy', 'Something In The Orange\nZach Bryan', 'Ghost\nJustin Bieber', 'Shivers\nEd Sheeran', 'In A Minute\nLil Baby', 'Rock And A Hard Place\nBailey Zimmerman', 'Left And Right\nCharlie Puth Featuring Jung Kook', 'Efecto\nBad Bunny', 'Son Of A Sinner\nJelly Roll', 'Numb\nMarshmello & Khalid', 'Fall In Love\nBailey Zimmerman', 'Talk\nYeat', 'God Did\nDJ Khaled Featuring Rick Ross, Lil Wayne, JAY-Z, John Legend & Fridayy', 'Provenza\nKarol G', 'Unstoppable\nSia', "I'm Good (Blue)\nDavid Guetta & Bebe Rexha", 'Numb Little Bug\nEm Beihold', 'Bones\nImagine Dragons', 'Dah Dah DahDah\nNardo Wick', 'Victoria’s Secret\nJax', 'Gatubela\nKarol G x Maldy', 'Die For You\nThe Weeknd', 'Last Last\nBurna Boy', 'Truth About You\nMitchell Tenpenny', 'Hot Shit\nCardi B, Ye & Lil Durk', 'Free Mind\nTems', 'Sleazy Flow\nSleazyWorld Go Featuring Lil Baby', 'So Good\nHalsey', 'With A Woman You Love\nJustin Moore', 'Like I Love Country Music\nKane Brown', 'Wishful Drinking\nIngrid Andress With Sam Hunt', 'Party\nBad Bunny & Rauw Alejandro', 'Despecha\nRosalia', "F.N.F. (Let's Go)\nHitkidd & GloRilla", 'Golden Hour\nJVKE', 'Ojitos Lindos\nBad Bunny & Bomba Estereo', 'Pink Venom\nBLACKPINK', 'Beat The Odds\nLil Tjay', 'Sticky\nDrake', 'Pick Me Up\nGabby Barrett', 'Whiskey On You\nNate Smith', 'Despues de La Playa\nBad Bunny', 'Beautiful\nDJ Khaled Featuring Future & SZA', 'She Likes It\nRussell Dickerson & Jake Scott', 'Until I Found You\nStephen Sanchez', 'Ghost Story\nCarrie Underwood', 'Romantic Homicide\nd4vd', '2 Be Loved (Am I Ready)\nLizzo', 'Where It Ends\nBailey Zimmerman', 'Alone\nRod Wave', 'Neverita\nBad Bunny', 'All Mine\nBrent Faiyaz', 'Tarot\nBad Bunny & Jhay Cortez', 'What My World Spins Around\nJordan Davis', 'Half Of Me\nThomas Rhett Featuring Riley Green', 'La Bachata\nManuel Turizo', 'Music For A Sushi Restaurant\nHarry Styles', "Don't Come Lookin'\nJackson Dean", 'Soul\nLee Brice', 'Bad Decisions\nbenny blanco, BTS & Snoop Dogg', 'Calm Down\nRema & Selena Gomez', 'Puffin On Zootiez\nFuture', 'Snap\nRosa Linn', 'Hotel Lobby (Unc And Phew)\nQuavo & Takeoff', 'Bzrp Music Sessions, Vol. 52\nBizarrap & Quevedo', 'Thought You Should Know\nMorgan Wallen', 'Country On\nLuke Bryan', 'Static\nSteve Lacy', 'Billie Eilish.\nArmani White', 'Sin Fin\nRomeo Santos & Justin Timberlake']

In [22]:
#scraping the Last_Week Rank 
lwr=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in lwr:
    if i.text is None :
        Last_Week.append("--") 
    else:
        Last_Week.append(i.text)
print(len(Last_Week),Last_Week)

594 ['2', '2', '10', '', '', '', '12', '3', '16', '', '', '', '5', '4', '15', '', '', '', '3', '1', '21', '', '', '', '8', '6', '14', '', '', '', '7', '1', '4', '', '', '', '14', '8', '13', '', '', '', '4', '3', '35', '', '', '', '13', '6', '17', '', '', '', '10', '1', '19', '', '', '', '11', '6', '18', '', '', '', '16', '5', '18', '', '', '', '15', '13', '12', '', '', '', '9', '1', '12', '', '', '', '18', '1', '22', '', '', '', '20', '9', '43', '', '', '', '19', '1', '86', '', '', '', '22', '18', '15', '', '', '', '25', '20', '14', '', '', '', '23', '1', '12', '', '', '', '24', '1', '61', '', '', '', '6', '6', '2', '', '', '', '28', '24', '13', '', '', '', '-', '25', '1', '', '', '', '26', '8', '13', '', '', '', '27', '27', '15', '', '', '', '30', '4', '18', '', '', '', '32', '3', '46', '', '', '', '21', '5', '5', '', '', '', '33', '31', '9', '', '', '', '42', '30', '20', '', '', '', '34', '5', '50', '', '', '', '35', '4', '52', '', '', '', '40', '14', '22', '', '', '', '38', '24', '13', '', '', '', '47', '22', '11', '', '', '', '39', '34', '18', '', '', '', '43', '39', '10', '', '', '', '44', '40', '10', '', '', '', '45', '31', '19', '', '', '', '-', '42', '1', '', '', '', '17', '17', '2', '', '', '', '46', '25', '20', '', '', '', '50', '45', '10', '', '', '', '81', '46', '2', '', '', '', '48', '18', '32', '', '', '', '58', '48', '16', '', '', '', '54', '48', '6', '', '', '', '59', '50', '6', '', '', '', '37', '37', '2', '', '', '', '69', '43', '6', '', '', '', '67', '53', '9', '', '', '', '70', '54', '8', '', '', '', '60', '13', '10', '', '', '', '61', '56', '8', '', '', '', '62', '47', '15', '', '', '', '63', '54', '13', '', '', '', '64', '59', '7', '', '', '', '52', '26', '16', '', '', '', '51', '51', '10', '', '', '', '65', '14', '18', '', '', '', '75', '63', '5', '', '', '', '73', '49', '15', '', '', '', '71', '65', '2', '', '', '', '68', '26', '18', '', '', '', '53', '22', '3', '', '', '', '36', '36', '2', '', '', '', '56', '6', '12', '', '', '', '80', '69', '7', '', '', '', '82', '65', '12', '', '', '', '74', '6', '18', '', '', '', '29', '29', '2', '', '', '', '84', '63', '23', '', '', '', '87', '75', '10', '', '', '', '85', '61', '16', '', '', '', '-', '77', '1', '', '', '', '97', '78', '4', '', '', '', '72', '32', '3', '', '', '', '76', '21', '4', '', '', '', '79', '31', '9', '', '', '', '88', '42', '5', '', '', '', '83', '18', '18', '', '', '', '93', '84', '4', '', '', '', '92', '85', '3', '', '', '', '95', '86', '3', '', '', '', '-', '8', '8', '', '', '', '-', '88', '2', '', '', '', '-', '89', '2', '', '', '', '89', '10', '5', '', '', '', '-', '91', '1', '', '', '', '91', '4', '19', '', '', '', '-', '93', '2', '', '', '', '94', '59', '15', '', '', '', '100', '82', '5', '', '', '', '96', '12', '18', '', '', '', '-', '76', '3', '', '', '', '-', '98', '1', '', '', '', '-', '99', '1', '', '', '', '-', '100', '1', '', '', '']

In [24]:
Top_Song=pd.DataFrame([])
Top_Song['Peak_rank']=rank[0:99]
Top_Song['Song_Name']=Song_Name[0:99]
Top_Song['Last_Week_Rank']=Last_Week[0:99]
Top_Song

   Peak_rank                                          Song_Name Last_Week_Rank
0          1                              Bad Habit\nSteve Lacy              2
1          2                   Late Night Talking\nHarry Styles              2
2          3                        Sunroof\nNicky Youre & dazy             10
3          4                             About Damn Time\nLizzo
4          5  I Like You (A Happier Song)\nPost Malone Featu...
..       ...                                                ...            ...
94        95             Thought You Should Know\nMorgan Wallen
95        96                             Country On\nLuke Bryan
96        97                                 Static\nSteve Lacy             19
97        98                       Billie Eilish.\nArmani White              1
98        99          Sin Fin\nRomeo Santos & Justin Timberlake             86

[99 rows x 3 columns]

# Scrape the details of Data science recruiters from naukri.com.

In [77]:
# Opening Wikipedia webpage
url='https://www.naukri.com/'
driver.get(url)
# Clicking on recuriters option
recruiters=driver.find_element(By.XPATH,"//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))
time.sleep(1)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@title='Search Recruiters']"}
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x003E78B3+2193587]
	Ordinal0 [0x00380681+1771137]
	Ordinal0 [0x002941A8+803240]
	Ordinal0 [0x002C24A0+992416]
	Ordinal0 [0x002C273B+993083]
	Ordinal0 [0x002EF7C2+1177538]
	Ordinal0 [0x002DD7F4+1103860]
	Ordinal0 [0x002EDAE2+1170146]
	Ordinal0 [0x002DD5C6+1103302]
	Ordinal0 [0x002B77E0+948192]
	Ordinal0 [0x002B86E6+952038]
	GetHandleVerifier [0x00690CB2+2738370]
	GetHandleVerifier [0x006821B8+2678216]
	GetHandleVerifier [0x004717AA+512954]
	GetHandleVerifier [0x00470856+509030]
	Ordinal0 [0x0038743B+1799227]
	Ordinal0 [0x0038BB68+1817448]
	Ordinal0 [0x0038BC55+1817685]
	Ordinal0 [0x00395230+1856048]
	BaseThreadInitThunk [0x75F1FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77B87B5E+286]
	RtlGetAppContainerNamedObjectPath [0x77B87B2E+238]

In [34]:
# locating Search bar via Xpath
Search=driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')

# Sending data science as key in search bar
Search.send_keys("Data Science")
time.sleep(1)

#clicking on search button
button=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
button.click()
time.sleep(1)

In [35]:
# Creating Empty List
Name =[]
Designation =[]
Company =[]
Skill =[]
Location =[]

In [36]:
# Scraping  Name
try:
    name=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]/span')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
        Name.append('NA')

In [37]:
print(len(Name))

0

# Q8Scrape the details of Highest selling novels.

In [43]:
# Opening Wikipedia webpage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [44]:
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [45]:
# Scraping Book name
try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')

In [48]:
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')

In [50]:
try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')

In [53]:
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')

In [56]:
try:    
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [58]:
#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q9 - Scrape the details most watched tv series of all time from imdb.com.

In [59]:
# Opening Wikipedia webpage
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)

In [60]:
# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [62]:
try:
    year=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime via Xpath
try:
    runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings via Xpath
try:
    ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

# Scraping Votes via Xpath
try:
    votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [64]:
# Scraping Name via Xpath
try:
    name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

In [65]:
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})
print('\033[1m'+'Top 100 most watched tv shows of all time IMDB :'+'\033[0m')
IMDB_TV

Top 100 most watched tv shows of all time IMDB :

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,049,496"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,145,373"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"968,315"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,837"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,406"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,560"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,565"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,788"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,022"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,456"

# Q10 - Details of Datasets from UCI machine learning repositories.

In [66]:
# Opening Wikipedia webpage
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(1)

In [68]:
# Clicking on all datasets links
dataset=driver.find_element(By.XPATH,"//a[@href='datasets.php']")
dataset.click()
time.sleep(1)

In [69]:
# Creating empty lists
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [70]:
# Scraping DataSet Name via Xpath
from tqdm import tqdm
try:
    dataset=driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in tqdm(dataset):
        Dataset.append(i.text)
        time.sleep(0.15)
except NoSuchElementException:
    Dataset.append('NA')
    
# Scraping Data Type via Xpath
try:
    Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in Type[1:]:
        Data_Type.append(i.text)
except NoSuchElementException:
    Data_Type.append('NA')
    
# Scraping Task via Xpath
try:
    task=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('NA')
    
# Scraping Attribute_Type via Xpath
try:
    attribute_Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_Type[1:]:
        Attribute_Type.append(i.text)
except NoSuchElementException:
    Attribute_Type.append('NA')
    
# Scraping No_of_Instances via Xpath
try:
    no_of_Instances=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_Instances[1:]:
        No_of_Instances.append(i.text)
except NoSuchElementException:
    No_of_Instances.append('NA')

# Scraping No_of_Attribute via Xpath
try:
    no_of_Attribute=driver.find_elements(By.XPATH<'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attribute[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('NA')

100%|████████████████████████████████████████████████████████████████████████████████| 622/622 [01:53<00:00,  5.48it/s]

InvalidArgumentException: Message: invalid argument: 'using' must be a string
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x003E78B3+2193587]
	Ordinal0 [0x00380681+1771137]
	Ordinal0 [0x002941A8+803240]
	Ordinal0 [0x002C2631+992817]
	Ordinal0 [0x002C273B+993083]
	Ordinal0 [0x002EF7FC+1177596]
	Ordinal0 [0x002DD7F4+1103860]
	Ordinal0 [0x002EDAE2+1170146]
	Ordinal0 [0x002DD5C6+1103302]
	Ordinal0 [0x002B77E0+948192]
	Ordinal0 [0x002B86E6+952038]
	GetHandleVerifier [0x00690CB2+2738370]
	GetHandleVerifier [0x006821B8+2678216]
	GetHandleVerifier [0x004717AA+512954]
	GetHandleVerifier [0x00470856+509030]
	Ordinal0 [0x0038743B+1799227]
	Ordinal0 [0x0038BB68+1817448]
	Ordinal0 [0x0038BC55+1817685]
	Ordinal0 [0x00395230+1856048]
	BaseThreadInitThunk [0x75F1FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77B87B5E+286]
	RtlGetAppContainerNamedObjectPath [0x77B87B2E+238]

In [71]:
# Scraping Year via Xpath
try:
    year=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

In [74]:
len(Dataset),len(Data_Type),len(Task),len(Attribute_Type),len(No_of_Instances),len(Year)

(622, 622, 622, 622, 622, 622)

In [75]:
# Creating Data Frame for UCI Dataset
UCI_Dataset=pd.DataFrame({'DataSet Title':Dataset,
                'Data Type':Data_Type,
                'Task':Task,
                'Attribute Type':Attribute_Type,
                'No of Instances':No_of_Instances,
                
                'Year':Year})
print('\033[1m'+' UCI Machine Learning Dataset:'+'\033[0m')
UCI_Dataset

 UCI Machine Learning Dataset:

,DataSet Title,Data Type,Task,Attribute Type,No of Instances,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,1998
...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,2020
619,Maternal Health Risk Data Set,,Classification,,1014,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2021