# Q1-scrape data for “Data Analyst” Job position in “Bangalore” location

In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.4.3-py3-none-any.whl (985 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.21.0-py3-none-any.whl (358 kB)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.2.0 selenium-4.4.3 trio-0.21.0 trio-websocket-0.9.2 wsproto-1.1.0

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver.exe")

In [10]:
driver.get("https://www.naukri.com/")

In [11]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [12]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [13]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title1 = []
job_location1 = []
company_name1 = []
experience_required1 = []

In [8]:
title_tag = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [9]:
for i in title_tag[0:10]:
    title = i.text
    job_title1.append(title)
    
location_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]') 

for i in location_tag[0:10]:
    location = i.text
    job_location1.append(location)

In [10]:
name_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]') 

for i in name_tag[0:10]:
    name = i.text
    company_name1.append(name)

In [11]:
experience_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span') 

for i in experience_tag[0:10]:
    experience = i.text
    experience_required1.append(experience)

In [15]:
print(len(job_title1),len(job_location1),len(company_name1),len(experience_required1))

10 10 10 10

In [14]:
df = pd.DataFrame({'job_title':job_title1,'job_location':job_location1,'company_name':company_name1,'experience_required':experience_required1})

In [34]:
df

,job_title,job_location,company_name,experience_required
0,Business & Data Analyst- Assistant Manager,"Bangalore/Bengaluru, Hyderabad/Secunderabad",State Street,1-3 Yrs
1,Sr. Business Data Analyst,Bangalore/Bengaluru,Infometry,4-6 Yrs
2,Senior Data Analyst(Power BI/Python),Bangalore/Bengaluru,Societe Generale,3-7 Yrs
3,Sr. Data Analyst,"Bangalore Rural, Bhopal, Indore, New Delhi, Pu...",Netlink Software,3-6 Yrs
4,Business Analyst - Data Strategy,Bangalore/Bengaluru,Capco,9-11 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
7,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
9,Sr Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,2-5 Yrs

In [37]:
url = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8378f4e92dcf2ba890abce7c432a66cf", element="a5bced2b-d4ff-4428-86d8-93908a1021e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8378f4e92dcf2ba890abce7c432a66cf", element="0f23515a-8ce5-41a6-9d1f-584176720a90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8378f4e92dcf2ba890abce7c432a66cf", element="658020e5-4398-487d-88c6-7a447b12df6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8378f4e92dcf2ba890abce7c432a66cf", element="0787e494-4f1b-48ba-9d7f-2e75b5bbffdb")>]

In [38]:
for i in url[0:4]:
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-business-data-analyst-assistant-manager-statestreet-global-advisor-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-1-to-3-years-180822502282
https://www.naukri.com/job-listings-sr-business-data-analyst-infometry-bangalore-bengaluru-4-to-6-years-190822500824
https://www.naukri.com/job-listings-senior-data-analyst-power-bi-python-societe-generale-global-solution-centre-pvt-ltd-bangalore-bengaluru-3-to-7-years-210822900010
https://www.naukri.com/job-listings-sr-data-analyst-netlink-software-private-limited-bhopal-indore-new-delhi-pune-bangalore-rural-mumbai-all-areas-3-to-6-years-200822001807

In [45]:
job_titles = []

In [46]:
start = 0
end = 2
for page in range(start,end):
    titles = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in titles:
        job_titles.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]') 
    next_button.click()
    time.sleep(3)

In [47]:
len(job_titles)

40

In [48]:
job_titles

['Business & Data Analyst- Assistant Manager',
 'Sr. Business Data Analyst',
 'Senior Data Analyst(Power BI/Python)',
 'Sr. Data Analyst',
 'Business Analyst - Data Strategy',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Sr. Data Analyst',
 'Senior Data Analyst',
 'Sr Clinical Data Analyst',
 'Master Data Management Business Analyst',
 'Data Analyst',
 'Data Analyst Entry',
 'Data Analyst',
 'Data Analyst 2',
 'Manager / Senior Manager - Data Analyst',
 'Intern Data Analyst',
 'Senior Data Analyst II',
 'Data Analyst',
 'Data Analyst / data analytics- US MNC (analytics)',
 'Data Analyst - Python/Artificial Intelligence',
 'Data Analyst',
 'DATA Analyst- Immediate Joining',
 'Lead Data Analyst',
 'Data Analyst',
 'Leap COE Intern(Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'SAS Data Analyst',
 'Data Analyst - Data Science, 3 To 5 Years',
 'Senior Analyst/Data Scientist',
 'Data Analyst / Product Analyst - Tableau / Python',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Reference Data Analyst',
 'Data Analyst']

# Q-2 program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [24]:
driver.get("https://www.naukri.com/")

In [25]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [28]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [30]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search.click()

In [56]:
job_title1 = []
job_location1 = []
company_name1 = []

In [58]:
title_tag = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [59]:
for i in title_tag[0:10]:
    title = i.text
    job_title1.append(title)

In [60]:
location_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [61]:
for i in location_tag[0:10]:
    location = i.text
    job_location1.append(location)

In [62]:
name_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

In [63]:
for i in name_tag[0:10]:
    name = i.text
    company_name1.append(name)

In [64]:
print(len(job_title1),len(job_location1),len(company_name1))

10 10 10

In [66]:
df = pd.DataFrame({'Job_title':job_title1,'job_location':job_location1,'company-name':company_name1})

In [67]:
df

,Job_title,job_location,company-name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
2,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
3,Data Scientist / Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Mindtree
4,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
5,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
6,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
9,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)

# Q3 scrape data using the filters available on the webpage

In [11]:
driver.get("https://www.naukri.com/")

In [12]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [13]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [15]:
Filter1 = driver.find_element(By.XPATH,"//label[@for='chk-Delhi / NCR-cityTypeGid-']/i")
Filter1.click()
time.sleep(3)
Filter2 = driver.find_element(By.XPATH,"//label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
Filter2.click()

In [16]:
job_title = []
company_name = []
exp = []
salary = []
date = []
loc = []

In [17]:
for i in driver.find_elements(By.XPATH,"//div[@class = 'info fleft']//a[@class = 'title fw500 ellipsis']")[:10]:
    job_title.append(i.text)

for i in driver.find_elements(By.XPATH,"//div[@class = 'info fleft']//a[@class = 'subTitle ellipsis fleft']")[:10]:
    company_name.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi experience']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    exp.append(i.text)

for i in driver.find_elements(By.XPATH,"//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi location']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    loc.append(i.text)        
        
for i in driver.find_elements(By.XPATH,"//ul[@class = 'mt-7']//li[@class = 'fleft grey-text br2 placeHolderLi salary']//span[@class = 'ellipsis fleft fs12 lh16']")[:10]:
    salary.append(i.text)

for i in driver.find_elements(By.XPATH,"//div[@class = 'type br2 fleft grey']//span[@class = 'fleft fw500']")[:10]:
    date.append(i.text)

In [21]:
DataScientist_JOBDelhi= pd.DataFrame({ "JOB_TITLE" : job_title ,"COMPANY_NAME": company_name , 
                                          "POST_DATE" : date})

In [22]:
DataScientist_JOBDelhi

,JOB_TITLE,COMPANY_NAME,POST_DATE
0,Job||Job Opening For AI Technologist - Data Sc...,Wipro,27 DAYS AGO
1,Data Scientist - Noida/Bangalore,EXL,22 DAYS AGO
2,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,30+ DAYS AGO
3,Lead Data Scientist,R Systems International,2 DAYS AGO
4,Data Scientist,Optum,20 DAYS AGO
5,Data Scientist - Predictive Analytics,Confidential,9 DAYS AGO
6,Chat-bot Developer / Data Scientist,Big Seo Buzz,20 DAYS AGO
7,Data Scientist / Chat-bot Developer,Big Seo Buzz,26 DAYS AGO
8,Data Scientist,Feedback Infra,6 DAYS AGO
9,Data Scientist - Engine Algorithm,Primo Hiring,14 DAYS AGO

# Q4 Scrape data of first 100 sunglasses listings on flipkart.com.

In [79]:
driver.get("https://www.flipkart.com/")

In [83]:
sunglasses = driver.find_element(By.CLASS_NAME,"_3704LK")
sunglasses.send_keys('Sunglasses')

In [85]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [109]:
brand_name = []
product_description = []
product_price = []

In [110]:
start = 0
end = 3
for pages in range(start,end):
    name_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name_tag[0:100]:
        brand_name.append(i.text)
    next_button = driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    
    time.sleep(3)

In [111]:
print(len(brand_name))

120

In [112]:
start = 0
end = 3
for pages in range(start,end):
    description_tag = driver.find_elements(By.CLASS_NAME,"IRpwTa")
    for i in description_tag[0:100]:
        product_description.append(i.text)
    next_button = driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    
    time.sleep(3)

In [113]:
print(len(product_description))

120

In [114]:
start = 0
end = 3
for pages in range(start,end):
    price_tag = driver.find_elements(By.CLASS_NAME,"_30jeq3")
    for i in description_tag[0:100]:
        product_price.append(i.text)
    next_button = driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    
    time.sleep(3)

In [115]:
print(len(product_price))

120

In [116]:
df = pd.DataFrame({'brand_name':brand_name,'product_descripton':product_description,'product_price':product_price})
df

,brand_name,product_descripton,product_price
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),UV Protection Wayfarer Sunglasses (Free Size)
1,Elligator,UV Protection Round Sunglasses (54),UV Protection Round Sunglasses (54)
2,SRPM,UV Protection Wayfarer Sunglasses (50),UV Protection Wayfarer Sunglasses (50)
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),UV Protection Rectangular Sunglasses (Free Size)
4,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...","UV Protection, Polarized Wayfarer Sunglasses (..."
...,...,...,...
115,Rich Club,Gradient Wayfarer Sunglasses (52),Gradient Wayfarer Sunglasses (52)
116,Fastrack,Gradient Round Sunglasses (Free Size),Gradient Round Sunglasses (Free Size)
117,PIRASO,UV Protection Aviator Sunglasses (54),UV Protection Aviator Sunglasses (54)
118,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...","UV Protection, Mirrored Retro Square Sunglasse..."
119,ROYAL SON,Mirrored Aviator Sunglasses (55),Mirrored Aviator Sunglasses (55)

# Scrape 100 reviews data from flipkart.com for iphone11 phone#

In [25]:
driver.get(" https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")
All_rev = driver.find_element(By.XPATH,"//div[@class='_3UAT2v _16PBlm']/span")
All_rev.click()

In [27]:
Rating = []
Review_summary = []
Full_review = []

while True:
    time.sleep(3)
    
    for i in driver.find_elements(By.XPATH,"//div[@class = 'col _2wzgFH K0kLPL']/div[@class= 'row']/div"):
        Rating.append(i.text)
        if len(Rating) == 200:
            break 
            
    for i in driver.find_elements(By.XPATH,"//div[@class= 'row']//p[@class = '_2-N8zT']"):
        Review_summary.append(i.text)
        if len(Review_summary) == 100:
            break 
            
    for i in driver.find_elements(By.XPATH,"//div[@class= 't-ZTKy']//div[@class]"):
        Full_review.append(i.text.replace('\n',''))
        if len(Full_review) == 100:
            break 
        
    if len(Full_review) == 100:
        break    
                
    for i in driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a[@class='_1LKTO3']"):
        next=[i.get_attribute("href")]
    
    time.sleep(3)
        
    for n in next:
        driver.get(n)

In [28]:
Rat = []
for i in range(0,len(Rating)):
    if i == 0 or  i/2 == i//2:
        Rat.append(Rating[i])

In [29]:
i_phone11_review = pd.DataFrame({"Rating": Rat,
                     "Review_summary" : Review_summary,
                     "Full review" : Full_review})

i_phone11_review.head(100)

,Rating,Review_summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
96,5,Excellent,Just go for it.This phone is really amazing. I...
97,5,Super!,This is my first ever iPhone.And I truly don’t...
98,5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."
99,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...

# Scrape data for first 100 sneakers

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
sneakers = driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers.send_keys("sneakers")

In [5]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [37]:
sneaker_name = []
sneaker_description = []
sneaker_price = []

In [38]:
start = 0
end = 3
for pages in range(start,end):
    name_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name_tag[0:33]:
        sneaker_name.append(i.text[0:100])
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [39]:
print(len(sneaker_name))

99

In [40]:
start = 0
end = 3
for pages in range(start,end):
    description_tag = driver.find_elements(By.CLASS_NAME,"IRpwTa")
    for i in description_tag[0:33]:
        sneaker_description.append(i.text[0:100])
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [42]:
print(len(sneaker_description))

99

In [43]:
start = 0
end = 3
for pages in range(start,end):
    price_tag = driver.find_elements(By.CLASS_NAME,"_30jeq3")
    for i in price_tag[0:33]:
        sneaker_price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [44]:
print(len(sneaker_price))

99

In [45]:
df = pd.DataFrame({'brand_name':sneaker_name,'product_descripton':sneaker_description,'product_price':sneaker_price})
df

,brand_name,product_descripton,product_price
0,Numenzo,Newton-01 Men's Lightweight Running Shoes Snea...,₹449
1,Layasa,2 Combo Sneaker Shoes Sneakers For Men,₹399
2,kardam&sons,Kwik FIT casual sneaker shoes and partywear sh...,₹448
3,PUMA,Sneakers For Men,₹598
4,Kraasa,Sneakers For Men,"₹3,354"
...,...,...,...
94,PUMA,Perfect & Affordable Combo Pack of 02 Pairs Sn...,"₹2,134"
95,Dizzler,Stylish & Trending Outdoor Walking Comfortable...,₹499
96,AMICO,Men White Sneakers Sneakers For Men,₹479
97,RINDAS,Sneakers For Men,₹599
98,D-SNEAKERZ,Sneakers For Men,₹414

# Enter “Laptop” in the search field

In [30]:
driver.get("https://www.amazon.in/")

search_Box = driver.find_element(By.XPATH,"//div[@class = 'nav-search-field ']/input[@type='text']")
search_Box.send_keys("Laptop")
search_btn = driver.find_element(By.XPATH,"//input[@id= 'nav-search-submit-button']")
search_btn.click()

fltr_btn = driver.find_elements(By.XPATH,"//ul[@aria-labelledby= 'p_n_feature_thirteen_browse-bin-title']//div[@class= 'a-checkbox a-checkbox-fancy s-navigation-checkbox aok-float-left']")
fltr_btn[-3].click()

# Go to the link - https://www.myntra.com/shoes

In [32]:
driver.get("https://www.myntra.com/shoes")

In [33]:
Filter2 = driver.find_elements(By.XPATH,"//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']") 
Filter2[0].click()

time.sleep(5)
Filter1 = driver.find_elements(By.XPATH,"//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']") 
Filter1[1].click()

In [36]:
Brand,description,price = [], [], []
q = 0

while q<2:
    time.sleep(3)
    for i in driver.find_elements(By.XPATH,"//div[@class= 'product-productMetaInfo']//h3[@class = 'product-brand']"):
        Brand.append(i.text)
    
    for i in driver.find_elements(By.XPATH,"//div[@class= 'product-productMetaInfo']//h4[@class = 'product-product']"):
        description.append(i.text)
    
    for i in driver.find_elements(By.XPATH,"//div[@class= 'product-productMetaInfo']//div[@class = 'product-price']"):
        price.append(i.text)
    
    nxt = driver.find_element(By.XPATH,"//a[@rel = 'next']")
    nxt.click()
    q +=1

driver.close()     
price= [i.split('Rs. ')[1] for i in price]   

myntra_blackshoes = pd.DataFrame({"Brand":Brand,"description":description,"price":price})
myntra_blackshoes

               Brand                     description  price
0               Nike  Men ZOOM WINFLO8 Running Shoes   8295
1           Skechers      Men Max Cushioning Running   8999
2   ADIDAS Originals        Men Niteball II Sneakers  10999
3       UNDER ARMOUR   Unisex Curry Basketball Shoes  10999
4               Nike           Air Max Axis Sneakers   8355
..               ...                             ...    ...
95    Louis Philippe    Men Textured Leather Loafers   9999
96          Skechers         Women Air Edge Sneakers   6999
97         J.FONTINI    Men Textured Leather Loafers   8490
98          Skechers  Men GRF-Hurtling Running Shoes   6999
99              ALDO           Women Leather Loafers  11999

[100 rows x 3 columns]